@import "tailwindcss";


@theme{
    --color-primary: #fcd535;
    --color-primary-100: #c99400;
    --color-grey:#34393E;
    --color-grey-100:#2E2E2E;
}
@custom-variant dark (&:where(.dark, .dark *));
@layer{
    .container {
        @apply max-w-[1240px] px-6 mx-auto;
    }
}

