@import "tailwindcss";

body{
  color: #202630;
}

@theme{
    --color-primary: #fcd535;
    --color-primary-100: #c99400;
    --color-primary-200: #F0B90B;
    --color-grey:#34393E;
    --color-grey-100:#2E2E2E;
    --color-black:#202630;
    --color-dark:#181A20;
}
@custom-variant dark (&:where(.dark, .dark *));
@layer{
    .container {
        @apply max-w-[1240px] px-6 mx-auto;
    }
}

/* Hide number input arrows for Chrome, Safari, Edge, Opera */
.hide-number-controls::-webkit-outer-spin-button,
.hide-number-controls::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
.hide-number-controls {
  -moz-appearance: textfield;
}



/* Add this to your global CSS file or a relevant CSS module */

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Ensure smooth transitions for the transform property */
.transition-transform {
    transition-property: transform;
    transition-duration: 300ms; /* Adjust for desired speed */
    transition-timing-function: ease-in-out; /* Smooth acceleration/deceleration */
}

/* Also ensure your individual buttons allow flex-shrink to prevent wrapping */
.flex-shrink-0 {
    flex-shrink: 0;
}